.resume table {
  @apply min-w-full border-collapse border border-gray-300 shadow;
}

.resume thead {
  @apply bg-gray-100;
}

.resume th,
.resume td {
  @apply p-3 border border-gray-300;
}

.resume tbody tr:nth-child(odd) {
  @apply bg-gray-200;
}
