@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .background-underline {
    @apply bg-gradient-to-r from-green-200 to-green-100 bg-[length:0px_50%] bg-left-bottom bg-no-repeat transition-[background-size] duration-[var(--duration,300ms)] hover:bg-[length:100%_50%] group-hover:bg-[length:100%_50%] dark:from-purple-800 dark:to-purple-900;
  }
}

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply mt-12 border-t border-gray-200 pt-8 dark:border-gray-700;
}

.data-footnote-backref {
  @apply no-underline;
}

.csl-entry {
  @apply my-5;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 600000s 0s,
    color 600000s 0s;
}

.katex-display {
  overflow: auto hidden;
}

.content-header-link {
  opacity: 0;
  margin-left: -24px;
  padding-right: 4px;
}

.content-header:hover .content-header-link,
.content-header-link:hover {
  opacity: 1;
}

.linkicon {
  display: inline-block;
  vertical-align: middle;
}

code,
kbd,
pre,
samp {
  font-family: var(--font-jetbrains-mono), monospace;
  font-weight: 500;
}
