@tailwind base;
@tailwind components;
@tailwind utilities;

.remark-code-title {
  @apply rounded-t bg-gray-700 px-5 py-3 font-mono text-sm font-bold text-gray-200;
}

.remark-code-title + div > pre {
  @apply mt-0 rounded-t-none pl-4;
}

.code-line {
  @apply -mx-4 border-l-4 border-gray-800 px-4;
}

.highlight-line {
  @apply -mx-4 border-l-4 border-primary-500 bg-gray-700 bg-opacity-50;
}

.line-number::before {
  @apply -ml-2 pr-4 text-gray-400;
  content: attr(line);
}

.md\:prose-xl :not(pre) > code:not([class*='language']) {
  font-size: 0.8em !important;
  margin: 0 2px;
}
.prose pre {
  margin-top: 1em;
  background-color: #222;
}
.prose pre code {
  font-weight: 500 !important;
}
.prose pre .code-line {
  border-color: #222;
}
.prose pre .code-line.highlight-line {
  border-color: rgba(99, 102, 241, var(--tw-border-opacity)) !important;
  display: block;
}

@media (max-width: 768px) {
  #refs ~ ul > li {
    word-break: break-all;
  }
}

.prose blockquote p {
  margin: 16px 0px;
}

.prose blockquote {
  background: #ebebeb;
  color: #3d3b3b;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  padding-right: 8px;
  border-left-color: #6f6868;
}

.dark .dark\:prose-dark blockquote {
  background: #363535;
  border-left-color: #b7abab !important;
}

.prose.prose :not(pre) > code:not([class*='language']) {
  display: inline-block;
  color: rgb(34, 36, 38);
  font-weight: 500;
  background-color: #dfdcdcc4;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 6px;
}

code,
kbd,
pre,
samp {
  font-family: 'JetBrains Mono', monospace;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
html,
.lightbox-overlay {
  /* margin-left: calc(100vw - 100%); */
  width: 100vw;
}

html.prevent-scroll {
  overflow-y: hidden;
}
html.lightbox-loading,
html.lightbox-loading * {
  cursor: wait !important;
}

.prose > ul > li:last-child {
  margin-bottom: 1.25em;
}
.prose > ul > li:first-child {
  margin-top: 1.25em;
}

.prose > ul > li > *:last-child {
  margin-bottom: 0;
}

.prose > ul > li > *:first-child {
  margin-top: 0;
}

.prose :where(thead th):not(:where([class~='not-prose'] *)) {
  color: unset;
}

.prose ol li:before {
  background-color: transparent !important;
}

.prose .code-line {
  font-size: 16px;
}

.prose hr {
  margin-top: 2em;
  margin-bottom: 2em;
}

* {
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.thumbnail-image img {
  border-radius: 10px;
}

@media (min-width: 640px) {
  .thumbnail-image {
    margin: 0 -20px;
  }
}
@media (min-width: 768px) {
  .thumbnail-image {
    margin: 0 -40px;
  }
}
@media (min-width: 1024px) {
  .thumbnail-image {
    margin: 0 -130px;
  }
}
@media (min-width: 1366px) {
  .thumbnail-image {
    margin: 0 -150px;
  }
}
