@charset "UTF-8";

@import "variables";
@import "mixins";
@import "base";

@font-face {
  font-family: Manrope;
  src: url(../fonts/Manrope-Regular.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}