# Comments providers
GISCUS_REPO=
GISCUS_REPOSITORY_ID=
GISCUS_CATEGORY=
GISCUS_CATEGORY_ID=
UTTERANCES_REPO=
DISQUS_SHORTNAME=

# Spotify (for fetching now playing track)
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REFRESH_TOKEN=

# Database (for storing posts' views)
DATABASE_URL=

# GitHub (for fetching repository's data in /projects page)
GITHUB_API_TOKEN=
