@import url('https://fonts.googleapis.com/css?family=Alegreya|Exo');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

html {
  font-size: 21px;
  max-width: 100%;
}

body {
  color: #444;
  font-family: 'Alegreya', serif;
  background: #fafafa;
  color: #444;
  line-height: 180%;
  margin: 0;
  max-width: 100%;
}


@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* thead {
    display: table-header-group;
  } */

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/* html {
  font-size: 12px;
} */

@media screen and (min-width: 32rem) and (max-width: 48rem) {
  html {
    font-size: 15px;
  }
}

@media screen and (min-width: 48rem) {
  /* html {
    font-size: 16px;
  } */
}

/* table css */
table {
  padding: 0;
}
table tr {
  border-top: 1px solid #cccccc;
  background-color: white;
  margin: 0;
  padding: 0;
}
table tr:nth-child(2n) {
  background-color: #f8f8f8;
}
table tr th {
  font-weight: bold;
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}
table tr td {
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}
table tr th :first-child, table tr td :first-child {
  margin-top: 0;
}
table tr th :last-child, table tr td :last-child {
  margin-bottom: 0;
}
/* end of table css */

p {
  font-size: 1rem;
  margin-bottom: 1.3rem;
}

h1, h2, h3, h4 {
  margin: 1.414rem 0 .5rem;
  font-weight: inherit;
  line-height: 1.42;
}

h1 {
  font-family: 'Exo', sans-serif;
  font-size: 50px;
  margin-bottom: 0px !important;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 1.414rem;
}

h5 {
  font-size: 1.121rem;
}

/* This tag I use for post's date n tags only*/
h6 {
  font-size: 19px;
  max-width: 36rem;
  margin: 0 auto 50px;
}

small {
  font-size: .707em;
}

/* https://github.com/mrmrs/fluidity */

img,
canvas,
iframe,
video,
svg,
select,
textarea {
  max-width: 100%;
}

/* === A bit of a gross hack so we can have bleeding divs/blockquotes. */

*:not(div):not(img):not(body):not(html):not(li):not(p):not(h6) {
  margin: 1rem auto 1rem;
  max-width: 36rem;
  padding: .25rem;
}

div {
  width: 100%;
}

div img {
  width: 100%;
}

blockquote {
  box-sizing: border-box;
  margin: 1.75em .875em 1.75em -1.9em;
  padding: 5px !important;
  /* font-family: Georgia,"Times New Roman",serif; */
  font-style: italic;
  border-left: 3px solid #527a8b;
}

blockquote p {
  color: #a78989;
  font-style: italic;
  margin: 0 0 0 20px;
  max-width: 48rem;
}

li {
  margin-left: 2rem;
}

li.task-list-item {
  list-style-type: none;
}

li .task-list-item-checkbox {
  margin-left: -21px;
  margin-right: 7px;
  vertical-align: middle;
}

/* Counteract the specificity of the gross *:not() chain. */
/*  === End gross hack */

p {
  color: #444444f2;
  height: auto;
  line-height: 1.75;
  margin: 1rem auto 1rem;
  max-width: 36rem;
}

/* Code block customization css */

pre, code {
  font-family: 'Source Code Pro', monospace;
  line-height: 1.6;
}

code {
  border-radius: 3px;
  font-size: 17px;
  padding: 3px 8px !important;
  font-weight: normal;
  color: #A03A1B;
  background: #F3F3F3;
}

pre {
  border-radius: 3px;
  background-color: #F3F3F3;
  font-size: 17px;
  overflow-x: scroll;
  padding: 1.125em;
}

/* Tomorrow Theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */
/* Tomorrow Comment */
.hljs-comment,
.hljs-quote {
    color: #8e908c;
}

.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
    color: #c82829;
}

.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
    color: #f5871f;
}

.hljs-attribute {
    color: #eab700;
}

.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
    color: #718c00;
}

.hljs-title,
.hljs-section {
    color: #4271ae;
}

.hljs-keyword,
.hljs-selector-tag {
    color: #8959a8;
}

.hljs {
    display: block;
    overflow-x: auto;
    color: #4d4d4c;
    padding: 0.5em;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}

/* end of code css */

a {
  text-decoration: none;
}

a,
a:visited {
  color: #3498db;
}

a:hover,
a:focus,
a:active {
  color: #2980b9;
  text-decoration: underline;
}