/**
 * Generic
 */

html, html > body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

html {
  font-size: $typographic-root-font-size;
}

body {
  margin: 0;
  font-family: $typographic-font-family;
  color: $typographic-base-font-color;
  line-height: $typographic-base-line-height;
  font-size: $typographic-base-font-size;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $color-background;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $typographic-font-family;
  font-weight: 600;
}

h1 {
  font-size: $typographic-base-font-size * 2.5;
  @include line-height(2);
  @include margin-top(4);
  @include margin-bottom(1);
}

h2 {
  font-size: $typographic-base-font-size * 1.6875;
  @include line-height(1.5);
  @include margin-top(2);
  @include margin-bottom(.5);
}

h3 {
  font-size: $typographic-base-font-size * 1.375;
  @include line-height(1);
  @include margin-top(2);
  @include margin-bottom(.5);
}

h4 {
  font-size: $typographic-base-font-size * 1.2;
  @include line-height(1);
  @include margin-top(1.5);
  @include margin-bottom(.5);
}

h5 {
  font-size: $typographic-base-font-size;
  @include line-height(1);
  @include margin-top(2.5);
  @include margin-bottom(.5);
}

h6 {
  font-size: $typographic-base-font-size;
  @include line-height(1);
  @include margin-top(2.5);
  @include margin-bottom(.5);
}

img {
	border: 0;
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.08);
  max-width: 100%;
  display: block;
	margin: inherit auto;
	object-fit: cover;
	object-position: center;
}

hr {
  margin-top: 52px;
  margin-bottom: 52px;
  border: 0;
  color: $color-base;
  display: block;
  height: 26px;
  margin-right: auto;
  margin-left: auto;
  background-size: 100% 26px;
  background-image: linear-gradient(to bottom, transparent 1px, transparent 11px, $color-base 11px, $color-base 15px, transparent 15px, transparent 26px);
  width: 100px;
}

a {
  color: $typographic-link-p-font-color;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    color: $typographic-link-s-font-color;
  }

}

// a:not([class*="Tags"]):not([class*="category"]):not([class*="home-button"]):not([class*="Feed"]):not([class*="Menu"]):hover {
//   border-bottom: 1px solid $typographic-link-s-font-color;
// }

b,
strong {
  font-weight: 600;
}

ul {
  list-style: square;
  @include margin-bottom(1);

  & li {
    padding: 0 5px;
    // margin-bottom: 10px;
    @include margin-bottom(0.4);
  }

}

p {
  @include line-height(1);
  @include margin-bottom(0.4);
  @include margin-top(0.4);
}

div.img-group {
	display: flex;
	height: 160px;
}

small {
	display: block;
	font-style: italic;
  text-align: center;
}

blockquote {
  padding: 2px 1em;
  color: $color-gray;
  border-left: .25em solid #a49f9f;
  background-color: $color-gray-bg;
  margin-top: 0;
  margin-bottom: 16px;
  & p {
    font-size: $typographic-small-font-size;
  }
}

figure {
  display: block;
  width: 100%;
  height: auto;
}

figcaption {
  @include line-height(.75);
  @include margin-top(.25);
  color: $color-base;
  font-size: $typographic-small-font-size;
  font-style: italic;
  margin-bottom: 0;
  text-align: center;
}

.anchor {
  margin-left: -30px !important;
  padding-right: 14px !important;
}

@include breakpoint-md {
	small {
		@include margin-top(-0.8);
	}
	div.img-group {
		padding-bottom: 15px;
	}
}

@include breakpoint-sm {
  figure.float-left,
  figure.float-right {
    max-width: 310px;
    @include padding(0, 1, 0, 1);
  }

  .float-right {
    float: right;
  }

  .float-left {
    float: left;
  }

}

table { width: 100%; }
th, td {
  text-align: left;
}
