/**
 * Padding
 */

@mixin padding($top, $right, $bottom:null, $left:null) {
    @if $left==null and $bottom==null {
        padding: #{ $top * $typographic-leading + "px"} #{ $right * $typographic-leading + "px"};
    }
    @else if $left==null or $left==$right {
        padding: #{ $top * $typographic-leading + "px"} #{ $right * $typographic-leading + "px"} #{ $bottom * $typographic-leading + "px"};
    }
    @else {
        padding: #{ $top * $typographic-leading + "px"} #{ $right * $typographic-leading + "px"} #{ $bottom * $typographic-leading + "px"} #{ $left * $typographic-leading + "px"};
    }
}

@mixin padding-equal($number) {
    padding: #{ $number * $typographic-leading + "px"};
}