@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.tags {
  @include margin-bottom(.5);

  &__list {
    list-style: none;
    margin: 0 -10px;
    padding: 0;

    &-item {
      display: inline-block;
      margin: 10px 5px;

      &-link {
        display: inline-block;
        height: $button-height;
        padding: 0 24px;
        line-height: $button-height;
        border: 1px solid $color-gray-border;
        text-decoration: none;
        border-radius: $button-border-radius;
        color: $color-base;

        &:hover,
        &:focus {
          color: $color-primary;
        }

      }

    }

  }

}