html.prevent-scroll {
  overflow: hidden;  
}

.post__image-lightbox::before {
  content: "Esc";
  position: absolute;
  top: 10px;
  left: 20px;
  color: #fff;
  font-size: 1.2em;
}

.post__image-lightbox::after {
  content: "❌";
  position: absolute;
  top: 10px;
  right: 20px;
  color: #fff;
  font-size: 1.2em;
  cursor: pointer;
}

.post__image-lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.95);
  justify-content: center;
  align-items: center;
  display: none;
  cursor: zoom-out;
}

.post__image-lightbox img {
  max-width: 90%;
  max-height: 90%;
}

.post__image-lightbox.show {
  display: flex;
}

.image-lightbox:hover {
  cursor: zoom-in;
}