@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.post {
  &__header-image {
    width: 100vw;
    height: 60vh;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  &__title {
    font-size: $typographic-base-font-size * 2;
    max-width: $layout-post-width;
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
    padding: 0 15px;
    @include line-height(1.65);
    @include margin-top(0.75);
    @include margin-bottom(0.75)
  }
  
  &__content {
    margin-top: -100px;
    background: $color-background;
    @include padding-top(1.5);
  }

  &__comments {
    max-width: $layout-post-width;
    margin: 0 auto;
    padding: 0 15px;
  }

  &__home-button {
    display: none;
    max-width: 120px;
    height: $button-height;
    padding: 0 24px;
    line-height: $button-height;
    text-align: center;
    color: $color-base;
    border: 1px solid $color-gray-border;
    border-radius: $button-border-radius;
    font-size: $typographic-base-font-size;
    font-weight: normal;
    margin-left: auto;
    margin-right: auto;
    @include margin-top(1);

    &:hover,
    &:focus {
      color: $color-primary;
    }

  }

}

@include breakpoint-md {
  .post {
    &__comments {
      padding: 0;
    }

    &__home-button {
      display: block;
      position: fixed;
      max-width: auto;
      margin: 0;
      top: 30px;
      left: 30px
    }
  }
}

@include breakpoint-lg {
  .post {
    &__header-image {
      margin-left: calc((100vw - #{$layout-width}) * -0.5);
    }
  }
}
